page-addvehicle {
    .center_volvo_logo{
        position: absolute;
        left: 0%;
        top: -10%;
        height:150%;
        width:80%;
        left: 7px;
        top: 2px;

    }
    .center_hyundai_logo{
        position: absolute;
        left: 2%;
        top: 30%;
        height:60%;
        width:80%;
        left: 7px;
        top: 5px;

    }
    .center_doosan_logo{
        position: absolute;
        left: 8%;
        top: -30%;
        height:130%;
        width:80%;

    }
    .center_komatsu_logo{
        position: absolute;
        left: 8%;
        top: -30%;
        height:130%;
        width:80%;

    }
}
