
<ion-content padding class = "list-avatar-page">
    <div style="font-size: 2em">{{ mode }}</div>
    <ion-list *ngFor="let job of jobs; let i = index" (click) = "itemTapped($event,job)">
      <ion-list-header class="listHeader">
        <b>{{jobs[i][0]}}</b>
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
      <br/> 
        <ion-icon name="pin"></ion-icon> {{jobs[i][1]}}
        <ion-note float-right>{{jobs[i][2]}} Won</ion-note>
      </ion-list-header>
      <ion-item *ngFor="let opveh of jobs[i][3]" class="listHeader">
        <ion-avatar item-start>
            <ion-img src={{opveh.opimg}}></ion-img> 
            <ion-icon name={{opveh.vehtype}} color="dark"></ion-icon>
        </ion-avatar>
        <p>{{opveh.opname}}</p>
        <p item-end>{{opveh.oppay}} Won</p>
      </ion-item>
    </ion-list>


</ion-content>
