page-addoperator {

    ion-avatar, ion-avatar > img {
        border-radius: 50%;
        height: 2rem;
        width: 12rem;
    }
    .button-ios {
        border-radius: 4px;
        height: 2.8em;
        font-size: 1.6rem;
        color: #fff;
        background-color: #488aff;
        margin: 0.4rem 0.2rem;
        padding: 0 1.5em;
    }
    .button-md {
        border-radius: 2px;
        overflow: hidden;
        height: 3.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background-color: #488aff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 1rem 0.2rem;
        padding: 2em 2.5em;
    }
}
