page-home {
}
ion-avatar,
ion-avatar > img{
    border-radius:50%;
    height:12rem;
    width:12rem;
}

// .item ion-thumbnail ion-img{
//     width: 5rem;
//     height: 5rem;
//     max-width:10px;
//     max-height:10px;
// }
// .item ion-thumbnail img {
//     width: 5rem;
//     height: 5rem;
// }

.item ion-thumbnail{
    min-width: 5rem;
    max-width: 5rem;
    min-height: 5rem;
    img {
        max-width: 5rem;
        min-width: 5rem;
    }
}

.ios, .md{
    page-home{
        ion-card-header{
            font-weight: bold;
        }
    }
}

// ion-list.event-detail-container.list.list-md{
//     display:none;
// }

small{
    font-size: 65%;
}

.click-block{
    position:initial;
}