<ion-header>
  <ion-navbar>
      <button ion-button menuToggle right>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
      
      <button ion-item *ngFor="let vehicle of vehicles" (click)="itemTapped($event,vehicle)">
      <!-- <button ion-item *ngFor="let vehicle of vehicles" (click)="itemTapped($event,vehicle)"> -->
        <!-- <ion-thumbnail slot="start"> -->
        <ion-thumbnail item-start>
          <!-- <img [src]=vehicle.img> -->
          <img [src]=vehicle.img style="width:6rem; height:6rem">
        </ion-thumbnail>
        <h2>{{vehicle.Modelno}}</h2>
        <p>{{vehicle.Desc}}</p>
      </button>

      <!-- <button ion-item *ngFor="let vehicle of vehicles" (click)="itemTapped($event,vehicle)">
        <ion-thumbnail item-start>
          <img [src] =vehicle.img>
        </ion-thumbnail>
        <h2>{{vehicle.Modelno}}</h2>
        <p>{{vehicle.Desc}}</p>
      </button> -->
    
    </ion-list>

</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <button ion-button full (click)="AddVeh()" >{{ add }}</button>
  </ion-toolbar>
</ion-footer>