# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.log
*.tmp
*.tmp.*
log.txt
.vscode/
npm-debug.log*

.idea/
.tmp/
.versions/
node_modules/
tmp/
temp/


.DS_Store
Thumbs.db
