page-viewoperator {
    ion-icon {
        display: inline-block;
        font-size: 2em;
    }
}

.ios, .md{
    page-viewoperator {
        .scroll-content {
            background-color: map-get($colors, light);
        }

        ion-card-header {
            font-weight: bold;
        }
    }
}